body {
    background-color: rgba(0, 255, 170, 0.471);
    font-family: Arial;
    }

header {
    font-family: Arial;
    font-size: x-large;
    text-align: center;
    padding-top: 1%; 
    }
h2 {
    padding: .5%;
}
